@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --pink: rgb(234, 114, 176);
    --border: 1px solid white;
}
html {
  scroll-behavior: smooth;
  scroll-margin-top: 80px;
}
#projects, #about {
  scroll-margin-top: 8vh; /* Adjust based on your navbar height */
}
body {
    background-color: rgb(0, 0, 0);
    color: white;
    overflow-x: hidden;
}
.bg-star{
    position: fixed;
    background-image: url('../image/stars.png');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12vh;   
}
header .logo {
    font-size: 1.75rem;
    font-weight: bold;
    margin-left: 100px;
    cursor: pointer;
}
header nav {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.25rem;
    width: 40%;
    margin-right: 100px;
}
header nav ul {
    cursor: pointer;
}
header nav ul a{
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}
header nav ul a:hover{
    color: var(--pink);
}
.content {
    width: 100vw;
    overflow-x: hidden;
}
.main {
    position: relative;
    display: flex;
    width: 100vw;
    height: 88vh;
}
.main .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 80%;
    padding-left: 150px;
    z-index: 2;
}
.main .intro h2 {
    display: flex;
    font-size: 1.75rem;
    font-weight: 300;
    align-items: end;
    margin-top: 20px;
}
.pink-color{
    color: var(--pink);
}
.main .intro h2:first-child .typing {
    width: 16ch;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #7E2EA0;
    animation: typing 3s steps(16, end) infinite alternate, 
                cursor 0.3s steps(16, end) infinite;
}
@keyframes typing {
    0% {
        width: 0;
    }
    80% {
        width: 15ch;
    }
    100% {
        width: 15ch; /* stay full for a moment before reversing */
    }
}
@keyframes cursor {
    50% { border-color: transparent }
}
.main .intro h2 video {
    width: 60px;
    height: 60px;
}
.main .intro h1 {
    margin-top: 20px;
    font-size: 2.75rem;
}
.main .intro .socials {
    margin-top: 10px;
    font-size: 2.25rem;
}
.main .intro .socials a{
    margin-right: 16px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.main .intro .socials a:hover {
    color: var(--pink);
    transition: color 0.2s linear;
}
.main .robot-container {
    position: relative;
    width: 50%;
    z-index: 1;
}
.main .robot {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: -120px;
    left: -450px;
}
.projects, .about {
    position: relative;
    width: 88%;
    margin: auto;
}
.projects h1, .about h1 {
    letter-spacing: 2px;
    margin: 60px 0 70px;
    width: fit-content;
}
.projects .works {
    position: relative;
    width: 100%;
    height: 400px;
}
.projects .works .swiper {
    position: absolute;
    width: 400px;
    height: 280px;
    left: 80px;
}
.projects .works .swiper .swiper-wrapper .swiper-slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.projects .works .java_proj .swiper-wrapper .swiper-slide:nth-child(1) {
    background-image: url('../image/java_login.png');
}

.projects .works .java_proj .swiper-wrapper .swiper-slide:nth-child(2) {
    background-image: url('../image/java_newAccount.png');
}

.projects .works .java_proj .swiper-wrapper .swiper-slide:nth-child(3) {
    background-image: url('../image/java_shopnow.png');
    
}

.projects .works .java_proj .swiper-wrapper .swiper-slide:nth-child(4) {
    background-image: url('../image/java_menu.png');
    
}

.projects .works .java_proj .swiper-wrapper .swiper-slide:nth-child(5) {
    background-image: url('../image/java_receipt.png');
    
}
.projects .works .description {
    padding-top: 40px;
    margin-left: 560px;
    width: 330px;
}
.projects .works .description h2 {
    
}
.projects .works .description p {
    margin-top: 10px;
    letter-spacing: 1px;
}
.projects .works .description .prog_lang {
    margin-top: 20px;
}
.projects .works .description .prog_lang span {
    width: fit-content;
    font-size: .75rem;
    margin-right: 6px;
    padding: 4px 14px;
    border: 2px solid var(--pink);
    border-radius: 4px;
}

.projects .works:nth-child(odd) .swiper {
    left: calc(100% - 480px);
    right: 100px;
}
.projects .works:nth-child(odd) .description {
    margin-left: calc(100% - (560px + 330px));
}

/* 2nd Project */
.projects .works .php_emp .swiper-wrapper .swiper-slide:nth-child(1) {
    background-image: url('../image/emp_login.png');
}
.projects .works .php_emp .swiper-wrapper .swiper-slide:nth-child(2) {
    background-image: url('../image/emp_landing.png');
}
.projects .works .php_emp .swiper-wrapper .swiper-slide:nth-child(3) {
    background-image: url('../image/emp_lists.png');
}
.projects .works .php_emp .swiper-wrapper .swiper-slide:nth-child(4) {
    background-image: url('../image/emp_projs.png');
}
.projects .works .php_emp .swiper-wrapper .swiper-slide:nth-child(5) {
    background-image: url('../image/emp_userlanding.png');
}
/* 3rd Project */
.projects .works .capstone .swiper-wrapper .swiper-slide:nth-child(1) {
    background-image: url('../image/caps_newacc.png');
}
.projects .works .capstone .swiper-wrapper .swiper-slide:nth-child(2) {
    background-image: url('../image/caps_selectdevice.png');
}
.projects .works .capstone .swiper-wrapper .swiper-slide:nth-child(3) {
    background-image: url('../image/caps_dashboard.png');
}
.projects .works .capstone .swiper-wrapper .swiper-slide:nth-child(4) {
    background-image: url('../image/caps_test.png');
}
/* 4th Project */
.projects .works .tetra .swiper-wrapper .swiper-slide:nth-child(1) {
    background-image: url('../image/tetra_login.png');
}
.projects .works .tetra .swiper-wrapper .swiper-slide:nth-child(2) {
    background-image: url('../image/tetra_dashboard.png');
}
.projects .works .tetra .swiper-wrapper .swiper-slide:nth-child(3) {
    background-image: url('../image/tetra_dashboard2.png');
}
.projects .works .tetra .swiper-wrapper .swiper-slide:nth-child(4) {
    background-image: url('../image/tetra_contact.png');
}
.about {
    margin-bottom: 40px;
}
.about .about_content {
    position: relative;
    display: flex;
    
}
.about .about_content .personal {
    position: relative;
    width: 60%;
    line-height: 2;
    letter-spacing: .5px;
    padding: 0 36px 0 16px;
}
.about .about_content .personal h2,
.about .about_content .skills h2 {
    padding-bottom: 26px;
}
.about .about_content .personal div {
    padding-right: 10%;
}
.about .about_content .personal div p {
    padding-bottom: 10px;
}
.about .about_content .personal .btn_contact {
    margin-top: 30px;
}
/* From Uiverse.io by SujitAdroja */ 
.about .about_content .personal .btn_contact .btn {
    color: var(--pink);
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid var(--pink);
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
    font-weight: bold;
    background: transparent;
    position: relative;
    transition: all .5s;
    overflow: hidden;
}
.about .about_content .personal .btn_contact .btn:hover {
    color: white;
}
.about .about_content .personal .btn_contact .btn::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: var(--pink);
    z-index: -1;
    transition: all .5s;
}
.about .about_content .personal .btn_contact .btn:hover::before {
    width: 160%;
}
.about .about_content .skills {
    position: relative;
    width: 40%;
}
.about .about_content .skills .skills_list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.about .about_content .skills .skills_list div {
    display: inline-block;
    letter-spacing: 1px;
    padding: 6px 18px;
    border: 2px solid var(--pink);
    border-radius: 4px;
}
footer {
  background-color: #101010;
  color: #ffffff;
  text-align: center;
  padding: 40px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-content {
  max-width: 800px;
  margin: auto;
}

.footer-content h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--pink); /* Optional: if you use a custom variable */
}

.footer-content p {
  font-size: 16px;
  margin: 8px 0;
}

.footer-content a {
  color: var(--pink); /* Light pink, change as needed */
  text-decoration: none;
  font-weight: 500;
}

.footer-content a:hover {
  text-decoration: underline;
}

.social-links {
  margin: 15px 0;
}

.social-links a {
  margin: 0 10px;
  color: #ddd;
  font-size: 16px;
  transition: color 0.3s;
}

.social-links a:hover {
  color: var(--pink);
}

footer .copyright {
  margin-top: 20px;
  font-size: 14px;
  color: #888;
}
